.aboutContainer {
    margin-top: 10rem;
    padding: 2rem;
    font-family: Verdana, sans-serif;
}

.aboutContainer h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: rgb(255, 217, 0);
    text-shadow: 0 0 7px rgb(199, 196, 0);
}

.aboutContainer h2 {
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 7px rgb(129, 129, 129);
}

.aboutP {
    width: 70%;
    font-family: Verdana, sans-serif;
}

.aboutP p {
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 768px) {
    .aboutContainer {
        margin-top: 12rem;
    }
}